body{
    flex-direction: column;
    background-color: #9DC08B;
}
.prezentare{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
a{
    align-self: self-start;
}
i{
 font-size: 20px;   
}
.titlu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 25px;
}