body{
    flex-direction: column;
    background-color: #2B3467;

}
.prezentare{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    color: #E8F9FD;
    
}
a{
    align-self: self-start;
    color: #E8F9FD;
}
i{
 font-size: 20px;
 justify-self: end;   
}
.titlu{
    display: flex;
    flex-direction: column;
    
}
p{
    
    font-size: 25px;
    margin:0cm;
    padding: 1cm;
}
h1{
    display: flex;
}